body {
  margin: 0;
  text-align: center;
  font-family: cursive;
}

h1 {
  font-size: 90px;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  margin: 0;
}

.top-container {
  background-color: #F6A9A9;
  position: relative;
  padding-top: 250px;
  }

.profile {
  background-color: #6F69AC;
  padding-bottom: 30px;
}

.skill-row1 {
  background-color: #95DAC1;
  position: relative;
  padding-bottom: 30px;
}

.skill-row2 {
  background-color: #FFEBA1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Vadym1 {
  width: 15%;
}

.Vadym2 {
  width: 15%;
}

.Artem1 {
  width: 15%;
}

.Artem2 {
  width: 15%;
}

.Ivan1 {
  width: 15%;
}

.Ivan2 {
  width: 15%;
}
